// Place all the styles related to the v controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div#simple-csv-container{
  #submit-simple-csv{
    display: inline-block;
  }

  #file-selector-simple-csv{
    display: inline-block;    
  }

  .pd-container{
    .csv-data{
      display: inline;
    }
  }

  #valid_columns_bank{
    p.permitted-col{
      display: inline-block;
      margin: 5px;
      padding: 5px;
      background-color: #1abc9c;
      cursor: -webkit-grab;
      cursor: -moz-grab;
      cursor: grab;
      &:active{
        cursor: -webkit-grabbing;
        cursor: -moz-grabbing;
        cursor: grabbing;
      }
    }

    p.collection-col{
      display: inline-block;
      margin: 5px;
      padding: 5px;
      background-color: #3498db;
      cursor: -webkit-grab;
      cursor: -moz-grab;
      cursor: grab;
      &:active{
        cursor: -webkit-grabbing;
        cursor: -moz-grabbing;
        cursor: grabbing;
      }
    }  
  }

  table#receiver{
    td, th {
      border: 1px solid #2c3e50;
    }

    th {
      background-color: #c0392b;
      color: white;
    }

    th.valid{
      background-color: #1abc9c;
    }
  }
}